{{!< default}}




<main class="d-product">
  <div class="n-container n-container__mobile-full mx-auto">
    <article>
      {{bluedot_product}}
    </article>
  </div>
  {{!-- {{bluedot_product_script}} --}}
</main>